body {
    background-image: url(../images/y-so-serious-white.png);
    background-repeat: inherit;
}

img {
    float: left;
    margin-right: 15px;
}

p {
    line-height: 70px;
}

.navbar-brand {
    color: seagreen;
}

h1 {
    color: seagreen;
}

.footer-copyright {
    color: white;
}

.card {
    width: 100%;
}