body {
    background-image: url(../images/y-so-serious-white.png);
    background-position: center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

img {
    float: left;
    margin-right: 15px;
}

p {
    line-height: 35px;
}

.navbar-brand {
    color: seagreen;
}

h1 {
    color: seagreen;
}

.footer-copyright {
    color: white;
}
